**/bin/*
**/obj/
**/Itinero-Transit.sln.DotSettings.user
**/.idea/
**/logs/*
**/cache/*
**/cache-dir/*
**/timetables-cache/*
Itinero-Transit/timetables-for-testing-2018-10-02/*
*.routerdb
*.osm.pbf
/test/Itinero.Transit.Tests.Functional/storage/
**/perf.data
**/perf.data.old
**/flame.svg
**/*.transitdb
**/*.gtfs.zip
**/*.zip
**/*.mvt

samples/**/output/*
